.navbar-brand {
  padding: 18px 20px;
  display: inline-block;
}

.body-nav {
  letter-spacing: 0.2em;
  color: white;
}

.anime-info {
  padding: 10px;
  width: 100vh;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.nav-header {
  padding: 10px;
  width: 130vh;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.popular,
.latest,
.homepage {
  height: 100vh;
  width: 130vh;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.watch-episode {
  background-color: white;
  padding: 10px;
  height: 100vh;
  width: 100vh;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.episode-video-player {
  width: 90%;
  height: 51%;
}
